.tao #page .image-preview img {
  max-width: none;
}
.tao .field-name-field-representative-image {
  margin: 20px 0;
  border: 1px solid #ccc;
}

.tao .field-name-field-representative-image  label[for="edit-field-representative-image-und-0-upload"] {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  background-color: #eee;
}

.tao .field-name-field-representative-image .image-widget {
  padding: 10px;
  margin-bottom: 20px;
}

.tao .field-name-field-representative-image div.image-preview {
  padding-right: 50px;
}

.tao .field-name-field-representative-image .manualcrop-preview-cropped {
  border: 1px solid #ccc;
}
.tao .field-name-field-representative-image .form-item-field-representative-image-und-0-alt {
	margin-top: 40px ;
}